<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/IMG/icon-about.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>A propos</title>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <div class="about-content">
        <p class="message-about">
          Je suis {{name}}, {{profession}} junior depuis Juillet 2020.
          J'ai été formée par 
          <a class="oclock-external-link" href="https://oclock.io">O'clock</a>,
          école Spécialisé en Développement Web et Web mobile en télé-présentiel.
          Ce site internet a été crée dans le cadre d'une formation en NodeJS/ExpressJS.
          </p>
        
        <img class="portrait" src="/IMG/chloe-avatar.jpg" alt="portrait creatrice du site">
    </div>
  </div>
    {{>footer}}
</body>
</html>