<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/IMG/icon-user-account.png">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Quantico&display=swap" rel="stylesheet">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2? family = Zeyada & display = swap" rel = "feuille de style ">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>Compte utilisateur</title>
</head>
<body>
    <div class="main-content">
            {{>header}}
        <h2 class="add-user-title">Veuillez fournir vos informations </h2>  
        <div class="login-content">
            <div class="avatar-content">
                <h3 class="avatar-title">Mon avatar</h3>
                <img class="avatar-default" src="/IMG/default-avatar.jpg" alt="photo ou avatar de profil">
                <form class="form-avatar-content" method="post">
                    <label class="avatar-label">Veuillez séléctionner une image</label>
                    <span class="extensions-accepted">Formats de fichiers acceptés : .png, .jpg, .gif, .jpeg, .svg</span>
                    <input class="upload-file" type="file"  id='avatar' accept=".png, .jpg, .jpeg, .gif, .svg">
                    <button class="avatar-validate-button">Valider</button>
                </form>
            </div>   
            <div class="informations-content">
                <h3 class="informations-title">Mes informations personnelles</h3>
                <form class="form-login-content" method="post">
                    <div class="field-content">
                        <label class="login-label" for="">Mon nom<span class="required">*</span></label>
                        <input class="login-input" id="lastname" type="text">
                    </div>
                    <div class="field-content">
                        <label for="" class="login-label" >Mon prenom<span class="required">*</span></label>
                        <input class="login-input" id="firstname" type="text">
                    </div>
                    <div class="field-content">
                        <label for="" class="login-label" >Mon âge<span class="required">*</span></label>
                        <input class="login-input" id="age" type="number">
                    </div>
                    <div class="field-content">
                        <label for="" class="login-label" >Mon adresse e-mail<span class="required">*</span></label>
                        <input class="login-input" id="email" type="email">
                    </div>
                    <div class="field-content">
                        <label for="" class="login-label" >Mon mot de passe<span class="required">*</span></label>
                        <input class="login-input" id="password" type="password">
                    </div>
                    <button class="validate-button">Valider</button>
                </form>
                <p class="required-msg"> Les champs accompagnés d'une<span class="required">*</span> sont obligatoires</p>
            </div>
        </div>
    </div>
    {{>footer}}
    <script src="../JS/add-user.js"></script>
</body>