<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/IMG/icon-help.png">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>Aide et contact</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="help-content">
            <form id="help-form">
                <textarea name="" id="" cols="50" rows="15" placeholder="Write hear..."></textarea>
                <button>Soumettre</button>
            </form>
            <p>{{thanks}}</p>
        </div>
    </div>
    {{>footer}}

    <script src="../JS/app.js"></script>
</body>
</html>