<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/IMG/icon-home.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>Utils application</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1 class="home-title">Utilisez les outils à votre disposition ci-dessous pour organiser votre journée.</h1>
        <div class="btn-group">
            <div class="div-link-home">
                <label class="label-home">Météo</label>
                <a href="/weather" class="link-weather">
                    <img class="button-weather" src="/IMG/icon-weather.webp" alt="bouton météo cliquable">
                </a>
            </div>
            <div class="div-link-home">
                <label class="label-home">Calendrier</label>
                <a href="/calendar" class="link-calendar">
                    <img class="button-calendar" src="/IMG/icon-calendar.jpg" alt="bouton calendrier cliquable" >
                </a>
            </div>
            <div class="div-link-home">
                <label class="label-home">Bloc notes</label>
                <a href="/notepad" class="link-notepad">
                    <img class="button-notepad" src="/IMG/icon-notepad.jpg" alt="bouton bloc notes cliquable" >
                </a>
            </div>
        </div>
    </div>
        {{>footer}} 

     <script src="../JS/app.js"></script>
</body>
</html>