<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/IMG/icon-weather.jpg">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>
        <div>
            <img class="weather-img" src="./public/IMG/weather-img.jpeg" alt="image météo">
        </div>
    
        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
       <p id="message-1"></p>
       <p id="message-2"></p>
    </div>
    {{>footer}}

     <script src="../JS/app.js"></script>
</body>
</html>