<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/IMG/icon-svg.webp">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>Utils application</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1 class="home-title">Use this tools for organize your day</h1>
        <img src="/IMG/organisation.jpg" alt="image d'organisation" class="organisation-img">
        {{>footer}} 

     <script src="../JS/app.js"></script>
</body>
</html>