{{!-- <a href='https://fr.freepik.com/vecteurs/calendrier'>Calendrier vecteur créé par vectorjuice - fr.freepik.com</a>  pour le calendrier --}}
{{!-- <a href='https://fr.freepik.com/vecteurs/cafe'>Café vecteur créé par stories - fr.freepik.com</a>  pour le bloc notes --}}