{{!-- <a href='https://fr.freepik.com/vecteurs/calendrier'>Calendrier vecteur créé par vectorjuice - fr.freepik.com</a>  pour le calendrier --}}
{{!-- <a href='https://fr.freepik.com/vecteurs/cafe'>Café vecteur créé par stories - fr.freepik.com</a>  pour le bloc notes --}}
{{!-- <a href='https://fr.freepik.com/vecteurs/dessin-anime'>Dessin animé vecteur créé par vectorjuice - fr.freepik.com</a>  pour l image conmpte utilisateur--}}
{{!-- <a href='https://fr.freepik.com/vecteurs/affiche'>Affiche vecteur créé par vectorpocket - fr.freepik.com</a>- about category/blonde --}}
{{!-- <a href='https://www.freepik.com/vectors/hand'>Hand vector created by freepik - www.freepik.com</a>  todolist --}}
{{!-- <a href='https://fr.freepik.com/vecteurs/affaires'>Affaires vecteur créé par stories - fr.freepik.com</a>-contact --}}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/IMG/icon-help.png">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>Mentions légales</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <div class="legal-mentions-content">
            <p>I'm the légal-mentions page!</p>
        </div>
    </div>
    {{>footer}}

    <script src="../JS/app.js"></script>
</body>
</html>