<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/IMG/icon-weather.webp">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&family=Quantico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/styles.css">
    <title>Météo</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p class="msg-weather-1">Entrez une ville pour connaitre la météo en temps réel</p>
        <p class="msg-weather-2">Où vous voulez!</p>
        <p class="msg-weather-3">Quand vous le voulez!</p>

        <div class="weather-content">
            <img class="weather-img" src="/IMG/weather-img.jpg" alt="image soleil">
           <div>
                <form>
                    <input placeholder="Localisation">
                    <button>Recherche</button>
                </form>
                <p id="message-location"><p>
                <p id="message-forecast"></p>
           </div>
        </div>
    </div>

    {{>footer}}

    <script src="../JS/app.js"></script>
</body>
</html>