<footer class="footer-content">
    <h3 class="footer-title">Informations utiles</h3>
    <a href="/legal-mentions">Mentions légales</a>
    <p class="signature">{{createdBy}} &#9825 Par {{name}}</p>
</footer>

