

<header>
    <div class="header-content">
          <img src="/IMG/organisation-img.jpg" alt="image d'organisation" class="organisation-img">
    <h1 class="header-title">{{title}}</h1>
    </div>
    <div class="nav-content">
        <a href="/">Accueil</a>
        <a href="/about">A propos</a>
        <a href="/help">Aide</a>
    </div>
   
</header>