
<header>
    <nav class="header-content">
        <div class="title-content">
            <a href="/" class="">
                <img class="home-button" src="../IMG/home-button.jpg" alt="bouton météo cliquable">
            </a>
            <div class="neon">
                <h1 class="header-title">{{title}}</h1>
            </div>
        </div>
        <nav class="nav-content">
            <div class="navigation">
                <a href="/about">A propos</a>
                <a href="/help">Aide & contact</a>
            </div>
            <div class="login">
                <a href="/login" class="login-link">Se connecter</a>
                <a href="/add-user" class="add-user-link">S'inscrire</a>
            </div> 
               
        </nav>
    </div>
</header>