

<header>
    <div class="header-content">
          <img src={{image}} alt="image relative a la catégorie" class="category-icon">
    <h1 class="header-title">{{title}}</h1>
    </div>
    <div class="nav-content">
            <a href="/">Accueil</a>
            <a href="/about">A propos</a>
            <a href="/help">Aide & contact</a>
            <a href="/login" class="login-link">Se connecter</a>
            <a href="/add-user" class="add-user-link">S'inscrire</a>
    </div>
</header>