/* styles for the body and contents*/
body {
    background-color: #080023;
    color: white;
    font-family: 'Quantico', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
.header-content {
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #080023;
}

.title-content {
  display: flex;

}

.neon {
    border: 3px solid #FFFC00 ;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 3px 3px rgba(249,210,77,1);
    margin-bottom: 20px;
    margin: auto;
}

.header-title {
    font-family: neon;
    font-size: 3rem;
    padding: 0 3.5rem 0 3.5rem;
    color: #ffd8d8;
}


/* NAVIGATION */

.nav-content {
    background-color:#080023;
    margin-top: 7rem;
    padding-top: 3rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.home-button {
    background-image: url('../IMG/home-button-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 150px;
    height: 145px;
    margin-right: 20px;
    border-radius: 1.5rem;
    border: 3px solid rgba(128,0,128,1);
    box-shadow: 3px 3px 3px 3px rgba(128,0,128,1);
    margin-top: 0;
}
.home-button:hover {
    box-shadow: 10px 10px 99px 6px rgba(128,0,128,1);
}


nav a {
    color: #6260db;
    margin-right: 20px;
    text-decoration: none;
    font-size: 23px;
    margin-top: 20px;
}

nav a:hover {
    font-size: 30px;
    font-family: 'Zeyada', cursive;
    color: #FFFC00 ;
    text-shadow:  0 0 0.1em #fdd34b, 0 0 0.1em #fdd34b,
        0 0 0.1em #fdd34b ;
}

.login-link {
    color: #8CE5F5;
    
}

.add-user-link {
    color:#8CE5F5;
    align-self: flex-end;
}


/* HOME */
.home-title {
    font-size: 50px;
    background: 
    -webkit-linear-gradient( #fffc00, #fb8382, #fa26db, #4e0f9b );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 5rem;
}

.div-link-home {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-right: 3rem;
    margin-bottom: 6rem;
}

.button-weather {
    width: 90%;
    margin-left: 20px;
    border: 2px solid #f9d24d;
    border-radius: 45px;
}
.button-weather:hover {
    box-shadow: 10px 10px 99px 6px rgba(249,210,77,1);
}

.button-calendar {
     width: 90%;
     margin-left: 20px;
     border: 2px solid purple;
     border-radius: 45px;
 }
.button-calendar:hover {
    box-shadow: 10px 10px 99px 6px rgba(128,0,128,1);
}

.button-notepad {
    width: 90%;
    margin-left: 20px;
    border: 2px solid #00dfc0;
    border-radius: 45px;
}
.button-notepad:hover {
    box-shadow: 10px 10px 99px 6px rgba(0,223,192,1);
}

.button-todolist {
    width: 90%;
    margin-left: 20px;
    border: 2px solid #f1a449;
    border-radius: 45px;
}
.button-todolist:hover {
    box-shadow: 10px 10px 99px 6px rgba(241,164,73,1);
}

/* MAIN */
.main-content {
    background-color:#051B54;
    flex-grow: 1;
}




/* ABOUT PAGE */
.about-content {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.message-about {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 500px;
    line-height: 2rem;
    line-clamp: unset;
    font-size: 20px;
}

.oclock-external-link {
    color: #800080;
}

.portrait {
    width: 270px;
    border: 1px solid #58B7FA;
    border-radius: 50%;
    margin-left: 2rem;
    margin-bottom: 3rem;
}


/* HELP PAGE */
.help-content {
    display: flex;
    flex-direction: column;
}

.msg-help-1 {
    font-size: 24px;
    text-align: center;
}

.msg-help-2 {
    font-size: 18px;
    padding-left: 3rem;
}

#help-form {
    margin-top: 5rem;
    align-self: center;
}

.label-home {
    padding-bottom: 1rem;
    padding-left: 10px;
    text-align: center;
}

input {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

button {
    align-self: center;
    cursor: pointer;
    border: 1px solid #58B7FA;
    background: #0cc4f4;
    color: black;
    font-size: 17px;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    margin-top: 2rem;
}

button:hover {
    background-color: #fdd34b;
    box-shadow: 10px 10px 99px 6px rgba(253,211,75,1);
    color: #051B54;
}

#help-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}
textarea {
    width: 500px;
    background: url("../IMG/futurist.jpg");
    background-size:cover;
    border-radius: 10px;
    border: 1px solid #58B7FA;
    padding: 10px;
    font-size: 15px;
    color:  #fbe665;
}

textarea::placeholder {
    color: #fbe665;
}



/*ADD USER PAGE  */
.add-user-title {
    font-size: 50px;
    background: -webkit-linear-gradient( #fdd34b, #f304cf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 5rem;
}

.login-content {
    display: flex;
    justify-content: space-between;
    background: url("../IMG/futurist.jpg");
    background-size:cover;
    border-radius: 20px; 
    margin-bottom: 2rem; 
}

.avatar-content {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
   
}

.avatar-title {
    font-size: 30px;
    text-align: center;
    color: #fdd34b;

}
.avatar-default {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid #fdd34b;
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-self: center;
}

.form-avatar-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-user {

}

.avatar-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.extensions-accepted {
    color: white;
    font-size: 14px;
    white-space: nowrap;
    
}

.upload-file {
    width: 300px;
    margin-top: 10px;
    padding: 13px;
    background-color: #051B54;
    color: #8CE5F5;
    border: 1px solid #8CE5F5;
}
.upload-file:hover {
    background-color: #5b13a5;
    box-shadow: 10px 10px 99px 6px rgba(91,19,165,1);
    color: #051B54;
}

.avatar-validate-button {
    margin-top: 30px;
    width: 215px;
    background-color: #051B54;
    color: #8CE5F5;
}
.avatar-validate-button:hover {
    background-color: #fdd34b;
    box-shadow: 10px 10px 99px 6px rgba(253,211,75,1);
    color: #051B54;
}
 .informations-content {
    width: 50%;
    display: flex;
    flex-direction: column;
 }

.informations-title {
    font-size: 30px;
    text-align: center;
    color: #051B54;
}


 .form-login-content {
    padding-right: 30px;
    margin-top: 50px; #fdc821
 }

.field-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px; 
}

.login-label {
    font-size: 17px;
    font-weight: bold;
}

.login-input {
}

.required {
    color: #fdd34b;
    margin-left: 10px;
    font-weight: bold;
}

.validate-button {
    width: 217px;
    background-color: #051B54;
    color: #8CE5F5;
    float: right;
}

.validate-button:hover {
    background-color: #8CE5F5;
    box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
    color: #051B54;
}

.required-msg {
    text-align: left;
    font-size: 18px;
    color:#180291;
    margin-top: 67px;
}


/* WEATHER PAGE */
.weather-content {
    display: flex;
    flex-direction: row;
}

.weather-img {
    width: 500px;
    height: 50vh;
    margin-bottom: 3rem;
    border-radius: 10%;
    border: 1px solid #2af6fc;
}

.msg-weather-1 {
    font-size: 20px;
}
.msg-weather-2 {
    font-size: 30px;
    line-height: 1rem;
    margin-left: 2rem;
}
.msg-weather-3 {
    font-size: 40px;
    line-height: 1rem;
    margin-left: 6rem;
    padding-bottom: 2rem;
}

.form-weather-content {
    margin-top: 0;
    margin-left: 3rem;
}

#message-location {
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 20px;
    color: #fdc821;
}

#message-forecast {
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 3rem;
    font-size: 17px;
    line-height: 2rem;
}


/* CALENDAR */


/* FOOTER */
footer {
    background-color: #080023;
    color: #2461E0;
    border-top: 1px solid #888888;
    padding: 16px 0;
}

.footer-title {
    color: white;
    margin:auto;
    border-bottom: 1px solid white;
    width: 170px;
}

footer a {
    color: #2461E0;
    margin-left: 3rem;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
}

.signature {
    margin-top: 3rem;
    text-align: center;
    color: #fa7d85;
}