/* styles for the body and contents*/
body {
    color: black;
    font-family: 'Quantico', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header-content {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
}
.main-content {
    background-color: white;
    flex-grow: 1;
}

.nav-content {
    padding: 2rem;
    text-align: center;
}

.weather-content {
    display: flex;
    flex-direction: row;
}

.about-content {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.help-content {
    display: flex;
    flex-direction: column;
}
/*  styles for messages */
.msg-1 {
    font-size: 20px;
}
.msg-2 {
    font-size: 30px;
    line-height: 1rem;
    margin-left: 3rem;
}
.msg-3 {
    font-size: 40px;
    line-height: 1rem;
    margin-left: 6rem;
}

#message-location {
    flex-direction: column;
    margin-left: 3rem;
}
#message-forecast {
    flex-direction: column;
    margin-left: 3rem;
}

.message-about {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 500px;
    line-height: 2rem;
    line-clamp: unset;
    font-size: 20px;
}
/* styles for pictures */
.organisation-img {
    width: 17%;
}

.portrait {
    width: 250px;
    border: 1px solid #58B7FA;
    border-radius: 10px;
    margin-left: 3rem;
}

.weather-img {
    width: 500px;
    height: 50vh;
}
/* styles for header */
header {
    background-color: white;
    margin-top: 16px;
}


header a {
    color: #2461E0;
    margin-right: 16px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}


/*  styles for titles */
.header-title {
    font-size: 50px;
    margin-bottom: 16px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 1rem;
    padding-bottom: 16px;
    border-bottom: 2px solid black;
}

.home-title {
    font-size: 50px;
    color: #2461E0;
    text-align: center;
}


/* styles for forms */
form {
    margin-top: 5rem;
    margin-left: 3rem;
}

input {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

button {
    cursor: pointer;
    border: 1px solid #58B7FA;
    background: white;
    color: black;
    font-size: 17px;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    margin-top: 1rem;
}
#help-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}
textarea {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #58B7FA;
    padding: 10px;
    font-size: 15px;
}


/* styles for footer */
footer {
    background-color: white;
    color: #2461E0;
    border-top: 1px solid #888888;
    padding: 16px 0;
}
