/* styles for the body and contents*/
body {
    background-color: #051B54;
    color: black;
    font-family: 'Quantico', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
.header-content {
    padding-top: 2rem;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #051B54;
}

.category-icon {
    width: 20%;
    border-radius: 45px;
    border: 2px solid black;
    margin-left: 4rem;
}

.title-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-title {
    font-size: 50px;
    margin-left: 4rem;
    margin-bottom: 30px;
    padding-top: 1rem;
    
}



/* NAVIGATION */

.nav-content {
    background-color: #051B54;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-bottom: 3rem;
    text-align:left;
    margin-bottom: 2rem;
}

nav a {
    color: #fd883c;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
}

nav a:hover {
    color:#2461E0;
    text-decoration-line: underline overline;
}

.login-link {
    margin-left: 10rem;
    color: #8CE5F5;
}

.add-user-link {
    color:#8CE5F5;
}


/* HOME */
.home-title {
    font-size: 50px;
    color: #2461E0;
    text-align: center;
    margin-bottom: 5rem;
}

.div-link-home {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-right: 3rem;
    margin-bottom: 6rem;
}

.button-weather {
    width: 90%;
    margin-left: 20px;
    border: 2px solid #f9d24d;
    border-radius: 45px;
}
.button-weather:hover {
    box-shadow: 10px 10px 99px 6px rgba(249,210,77,1);
}

.button-calendar {
     width: 90%;
     margin-left: 20px;
     border: 2px solid purple;
     border-radius: 45px;
 }
.button-calendar:hover {
    box-shadow: 10px 10px 99px 6px rgba(128,0,128,1);
}

.button-notepad {
    width: 90%;
    margin-left: 20px;
    border: 2px solid #00dfc0;
    border-radius: 45px;
}
.button-notepad:hover {
    box-shadow: 10px 10px 99px 6px rgba(0,223,192,1);
}

.button-todolist {
    width: 90%;
    margin-left: 20px;
    border: 2px solid #f1a449;
    border-radius: 45px;
}
.button-todolist:hover {
    box-shadow: 10px 10px 99px 6px rgba(241,164,73,1);
}

/* MAIN */
.main-content {
    background-color:#051B54;
    flex-grow: 1;
}


/* WEATHER PAGE */
.weather-content {
    display: flex;
    flex-direction: row;
}

.weather-img {
    width: 500px;
    height: 50vh;
    padding-bottom: 3rem;
}

.msg-weather-1 {
    font-size: 20px;
}
.msg-weather-2 {
    font-size: 30px;
    line-height: 1rem;
    margin-left: 3rem;
}
.msg-weather-3 {
    font-size: 40px;
    line-height: 1rem;
    margin-left: 6rem;
}

#message-location {
    flex-direction: column;
    margin-left: 3rem;
}
#message-forecast {
    flex-direction: column;
    margin-left: 3rem;
}



/* ABOUT PAGE */
.about-content {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.message-about {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 500px;
    line-height: 2rem;
    line-clamp: unset;
    font-size: 20px;
}

.portrait {
    width: 250px;
    border: 1px solid #58B7FA;
    border-radius: 50%;
    margin-left: 2rem;
    margin-bottom: 3rem;
}





/* HELP PAGE */
.help-content {
    display: flex;
    flex-direction: column;
}

.msg-help-1 {
    font-size: 24px;
    text-align: center;
}

.msg-help-2 {
    font-size: 18px;
    padding-left: 3rem;
}

form {
    margin-top: 5rem;
    margin-left: 3rem;
}
.label-home {
    padding-bottom: 1rem;
    padding-left: 10px;
    text-align: center;
}

input {
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
    font-size: 15px;
}

button {
    cursor: pointer;
    border: 1px solid #58B7FA;
    background: white;
    color: black;
    font-size: 17px;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    margin-top: 1rem;
}
#help-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}
textarea {
    width: 300px;
    border-radius: 10px;
    border: 1px solid #58B7FA;
    padding: 10px;
    font-size: 15px;
}



/*ADD USER PAGE  */
.add-user-title {
    font-size: 50px;
    color: #fdd34b;
    text-align: center;
    margin-bottom: 5rem;
}

.login-content {
    display: flex;
    justify-content: space-between;
    background:
        url("../IMG/futurist.jpg");
    background-size:cover;
    border-radius: 20px; 
    margin-bottom: 2rem; 
}

.avatar-content {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
   
}

.avatar-default {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid #fdd34b;
    margin-top: 3rem;
    margin-bottom: 2rem;
    align-self: center;
}

.form-avatar-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-user {

}

.avatar-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.extensions-accepted {
    color: white;
    font-size: 14px;
    white-space: nowrap;
    
}

.upload-file {
    width: 300px;
    margin-top: 10px;
    padding: 13px;
    background-color: #051B54;
    color: #8CE5F5;
    border: 1px solid #8CE5F5;
}
.upload-file:hover {
    background-color: #5b13a5;
    box-shadow: 10px 10px 99px 6px rgba(91,19,165,1);
    color: #051B54;
}

.avatar-validate-button {
    margin-top: 30px;
    width: 215px;
    background-color: #051B54;
    color: #8CE5F5;
}
.avatar-validate-button:hover {
    background-color: #fdd34b;
    box-shadow: 10px 10px 99px 6px rgba(253,211,75,1);
    color: #051B54;
}
 .informations-content {
    width: 50%;
    display: flex;
    flex-direction: column;
 }

.h3-title {
    font-size: 30px;
    text-align: center;
}

.required-msg {
    text-align: left;
    font-size: 18px;
    color:#180291;
    margin-top: 67px;
}

 .form-login-content {
    padding-right: 30px;
    margin-top: 50px; 
 }

.field-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px; 
}

.login-label {
    font-size: 17px;
    font-weight: bold;
}

.login-input {
}

.required {
    color: #fdd34b;
    margin-left: 10px;
    font-weight: bold;
}

.validate-button {
    width: 217px;
    background-color: #051B54;
    color: #8CE5F5;
    float: right;
}

.validate-button:hover {
    background-color: #8CE5F5;
    box-shadow: 10px 10px 99px 6px rgba(76,201,240,1);
    color: #051B54;
}



/* FOOTER */
footer {
    background-color: #051B54;
    color: #2461E0;
    border-top: 1px solid #888888;
    padding: 16px 0;
}

.footer-title {
    color: black;
    margin:auto;
    border-bottom: 1px solid black;
    width: 170px;
}

footer a {
    color: #2461E0;
    margin-left: 3rem;
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
}